# datasets
data/*

!data/readme.md
!data/TabFormer/raw/readme.md

# checkpoint
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
src/.ipynb_checkpoints

# cache
__pycache__

# json
notebooks/*.json

# CDK
cdk.context.json
cdk.out/
.cdk.staging

# Security scan results
*.sarif
probe-test-results.json.DS_Store

# Mac
.DS_Store

# EDA output
eda_output/
eda_output/*